[submodule "matplotlib-cpp"]
	path = matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "FPlusPlus"]
	path = FPlusPlus
	url = https://github.com/RyanTorant/FPlusPlus.git
[submodule "NEAT"]
	path = NEAT
	url = https://github.com/RyanTorant/NEAT.git
[submodule "boost-cmake"]
	path = boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
